.wrapper{
    margin-top: 200px;
    margin-left: 40rem;
    margin-right:30rem;
    /* border: 2px solid red; */

}
.label{
    text-align: center;
}
form{
    /* border: 2px solid red;   */
}
.tb{
    margin-top: 20px;
    margin-left: 20rem;
}